*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

.webgL {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    color: white;
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}